@import url('https://fonts.googleapis.com/css2?family=Krub&family=League+Spartan:wght@200;700&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    scroll-behavior: smooth;
}

/* Header */
.Header{
    background-color:#091242;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 181px;
    height: 30px;
}

.header-email,.header-call,.header-time{
    min-width: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-right: 20px;
}

.email,.time,.call{
    width: 50px;
    height: 50px;
}

.header-time p,.header-call p,.header-email p{
    color: #FFFFFF;
    font-family: 'Krub';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    padding-left: 10px;
}

.address-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -10%;
}

@media only screen and (max-width: 600px) {
    .Header{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo{
        display: flex;   
    }

    .address-bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        margin-left: 20px;
    }

    .email,.time,.call{
        width: 20px;
        height: 20px;
    }

    .header-time p,.header-email p,.header-call p{
        font-size: 9px;
        padding: 5px;
    }
  }

/* Banner */
.Banner{
    height: 100vh;
    background-image: url("background-ship.jpeg");
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.navigation{
    min-height: 9vh;
    background-color: rgba(9, 18, 66, 0.25);
    color: #FFFFFF;
    font-family: 'Krub';
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin-left: 0px;
}

.navigation li a{
    color: #FFFFFF;
    text-decoration: none;
}

.navigation li a:active{
    border-bottom: 3px solid white;
}

.navigation .social-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigation li a i{
    font-size: 17px;
}

.quote {
    color: #23212A;
    text-align: center;
    font-family: Krub;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    background: #FFF;
    width: 170px;
    height: 10vh;
    border: none;
    margin-left: 10px;
}

.banner-text .title1{
    color: #FFF;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3px 9px;
    background-color: rgba(4, 28, 55, 0.50);
    gap: 10px;
    margin-left: 0px;
    margin-top: 96px;
}

.shape1{
    width: 4px;
    height: 23px;
    margin-left: 260px;
    margin-top: 96px;
    background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);;
}

.div-title{
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 4px;
}

.banner-text h1{
    width: 570px;
    color: #FFF;
    font-family: Rubik;
    font-size: 45px;
    font-style: normal;
    font-weight: 700px;
    display: flex;
    margin-left: 260px;
    margin-top: 5px;
}

.desc1{
    color: #FFF;
    font-family: Krub;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%; /* 24.244px */
    width: 479px;
    margin-left: 262px;
    margin-top: 6px;
}

.explore{
    width: 12.5vw;
    height: 8vh;
    background-image: url('Background.svg');
    background-position: center;
    background-size: cover;
    margin-left: 17.2%;
    margin-top: 18px;
    color: #23212A;
    font-family: Krub;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .navigation .social-icons{
        display: none;
    }

    .navigation ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navigation{
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .banner-text .title1{
        color: #FFF;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 3px 9px;
        background-color: rgba(4, 28, 55, 0.50);
        gap: 10px;
    }
    
    .shape1{
        width: 4px;
        height: 23px;
        margin-top: 96px;
        background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);;
    }
    
    .div-title{
        display: inline-flex;
        justify-content: left;
        align-items: center;
        height: 4px;
        margin-left: -220px;
    }
    
    .banner-text h1{
        font-size: 25px;
        margin-left: 43px;
        margin-top: 5px;
    }
    
    .desc1{
        font-size: 10px;
        width: 330px;
        margin-left: 43px;
        margin-top: 6px;
    }
    
    .explore{
        width: 100px;
        height: 37px;
        margin-left: 43px;
        margin-top: 18px;
        font-size: 10px;
        border: none;
    }
}

/* features */
.features{
    width: 100%;
    height: 470px;
    background-color: #ffffff;
}

.shape2{
    width: 4px;
    height: 23px;
    margin-top: 170px;
    margin-left: 268px;
    display: flex;
    background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);;
}

.title2{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgba(232, 232, 232, 0.50);
    margin-top: 170px;
    margin-left: 0px;
    padding: 3px 7px 3px 9px;
}

.div-title2{
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 4px;
}

.sub-text{
    display: inline-block;
    margin-top: 50px;
}

.feature1{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 294px;
    height: 93px;
    flex-shrink: 0;
    margin-left: 265px;
    margin-top: 20px;
}

.services .service1{
    display: flex;
    margin-left: 590px;
    margin-top: -160px;
}

.services .service1 p{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}

.services .service1 .shape{
    width: 1px;
    height: 105px;
    background-color: #D8D8D8;
}

.services .service1 .para{
    color: #666C89;
    font-family: Krub;
    font-size: 16px;
    width: 270px;
    font-style: normal;
    font-weight: 500;
    margin-left: -250px;
    margin-top: 35px;
    line-height: 151.523%; /* 24.244px */
}

.services .service2{
    display: flex;
    margin-left: 990px;
    margin-top: -115px;
}

.services .service2 p{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}

.services .service2 .shape{
    width: 1px;
    height: 105px;
    background-color: #D8D8D8;
}

.services .service2 .para{
    color: #666C89;
    font-family: Krub;
    font-size: 16px;
    width: 270px;
    font-style: normal;
    font-weight: 500;
    margin-left: -238px;
    margin-top: 35px;
    line-height: 151.523%; /* 24.244px */
}

.services .service3{
    display: flex;
    margin-left: 590px;
    margin-top: -120px;
}

.services .service3 p{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}

.services .service3 .shape{
    width: 1px;
    height: 105px;
    background-color: #D8D8D8;
    margin-left: 9px;
}

.services .service3 .para{
    color: #666C89;
    font-family: Krub;
    font-size: 16px;
    width: 270px;
    font-style: normal;
    font-weight: 500;
    margin-left: -204px;
    margin-top: 35px;
    line-height: 151.523%; /* 24.244px */
}

.services .service4{
    display: flex;
    margin-left: 990px;
    margin-top: -115px;
}

.services .service4 p{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}

.services .service4 .shape{
    width: 1px;
    height: 105px;
    background-color: #D8D8D8;
}

.services .service4 .para{
    color: #666C89;
    font-family: Krub;
    font-size: 16px;
    width: 270px;
    font-style: normal;
    font-weight: 500;
    margin-left: -259px;
    margin-top: 35px;
    line-height: 151.523%; /* 24.244px */
}

.services34{
    display: inline-block;
    margin-top: 150px;
}

@media only screen and (max-width: 600px) {
    .sub-text{
        margin-left: -190px;
    }

    .services{
        display: inline-block;
        margin-top: 200px;
        margin-left: -520px;
    }

    .services .service2{
        margin-top: 50px;
        margin-left: 597px;
    }

    .services .service4{
        margin-top: 50px;
        margin-left: 597px;
    }

    .services34{
        margin-top: 160px;
    }

}

/* content */

.content-section{
    width: 100%;
    height: 100%;
}

.bg1{
    width: 100%;
    height: 2000px;
    background-image: url("background-container.png");
    position: absolute;
    background-size: cover;
    top: -100px;
    z-index: -1;
    text-align: center;
}

.shape4{
    width: 100%;
    height: 504px;
    flex-shrink: 0;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background: linear-gradient(0deg, #091242 -11.11%, rgba(9, 18, 66, 0.00) 90.28%);
}

.shape6{
    width: 1000px;
    height: 600px;
    background: #ffffff;
    display: flex;
    margin-top: -200px;
    justify-content: flex-start;
    margin-left: 250px;
}

.shape7{
    width: 4px;
    height: 23px;
    background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);;
}

.shape8{
    background: rgba(232, 232, 232, 0.50);
    display: flex;
    width: 92px;
    height: 23px;
    top:80px;
    left: 90px;
    position: absolute;
}

.title3{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgba(232, 232, 232, 0.50);
    height: 22px;
    display: inline-block;
    width: 70px;
    padding: 3px 8px ;
}

.shape7{
    margin-top: 80px;
    margin-left: 90px;
}

.content-section .content1 h1{
    width: 480px;
    color: #1C1F35;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    line-height: normal;
    margin-left: -8px;
    margin-top: 120px;
}

.content-section .content1 p{
    width: 464px;
    color: #666C89;
    font-family: Krub;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    margin-left: -8px;
    margin-top: 20px;
}

.content2{
    display: flex;
    width: 265px;
    align-items: center;
    gap: 15px;
    margin-left: -8px;
    margin-top: 20px;
}

.content3{
    display: flex;
    width: 390px;
    align-items: center;
    gap: 15px;
    margin-left: -8px; 
    margin-top: 20px;
}

.content2 p{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content3 p{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content4 img{
    width: 370px;
    height: 350px;
    margin-left: 30px;
    margin-top: 90px;
}

.content5 img{
    width: 280px;
    height: auto;
    margin-left: -50px;
    margin-top: -130px;
    border: 30px solid white;
}

.counter1,.counter2{
    width: 400px;
    height: 80px;
    background-color: #ffffff;
}

.counter{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    width: 800px;
    margin-left: 325px;
}

.counter1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    border-right: 1px solid #D4D4D4;
}

.counter2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}

.counter-shape{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}

.counter12{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.large {
    color: #1C1F35;
    font-family: Rubik;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 20px;
    padding-left: 20px;
}

.small {
    color: #1C1F35;
    font-family: League Spartan;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 20px;
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    .content-section{
        width: 100%;
        height: 100%;
    }

    .shape4{
        display: none;
    }

    .shape6{
        width: 400px;
        height: 600px;
        margin-left: 50px;
        background-color: #ffffff;
        display: inline-block;
        margin-top: 300px;
    }

    .shape7{
        margin-left: 50px;
        margin-top: 50px;
    }
    
    .bg1{
        width: 100%;
        height: 500px;
        background-image: url("background-container.png");
        background-size: cover;
        background-position: center;
        position: relative;
        top: 500px;
    }

    .title3{
        display: inline-flex;
        width: 80px;
    }
    
    .content-section .content1 h1{
        width: 400px;
        font-size: 25px;
        margin-left: 25px;
        margin-top: 30px;
    }
    
    .content-section .content1 p{
        width: 350px;
        font-size: 13px;
        margin-left: 25px;
        margin-top: 25px;
    }
    
    .content2{
        margin-left: 30px;
        margin-top: 25px;
        width: 265px;
        gap: 10px;
    }
    
    .content3{
        margin-left: 30px;
        margin-top: 25px;
        width: 390px;
        gap: 10px;
    }
    
    .content2 p,.content3 p{
        font-size: 22px;
    }
    
    .content4{
        margin-left: -10px;
        margin-top: -30px;
        width: 200px;
        height: 170px;
    }

    .content5{
        margin-left: 110px;
        margin-top: 270px;
        display: block;
        width: 300px;
        height: 270px;
    }

    .counter1,.counter2{
        width: 200px;
        height: 80px;
        background-color: #ffffff;
    }
    
    .counter{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #D4D4D4;
        border-top: 1px solid #D4D4D4;
        width: 400px;
        margin-left: 50px;
    }
    
    .counter1{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        border-right: 1px solid #D4D4D4;
    }
    
    .counter2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
    }
    
    .counter-shape{
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    }

    .large {
        color: #1C1F35;
        font-family: Rubik;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .small {
        color: #1C1F35;
        font-family: League Spartan;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.transport-head {
    color: #1C1F35;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 100px;
}

.transport{
    width: 100%;
    height: 735px;
    background-color: #ffffff;
    margin-top: 50px;
}

.tr-images{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tr-img1 img,.tr-img2 img,.tr-img3 img,.tr-img4 img,.tr-img5 img{
    width: 280px;
    height: 340px;
    padding: 20px;
}

.tr-shape{
    width: 100%;
    height: 350px;
    margin-top: -150px;
    background:linear-gradient(95deg, #FFB629 -1.19%, #FFDA56 57.78%, #FFD7A6 115.08%);;
}

.tr-large {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tr-small {
    color: #FFB629;
    font-family: Krub;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
}

.tr-text1{
    margin-top: 270px;
    margin-left: -300px;
}

.tr-text2{
    margin-top: 270px;
    margin-left: -300px;
}

.tr-text3{
    margin-top: 270px;
    margin-left: -300px;
}

.tr-text4{
    margin-top: 270px;
    margin-left: -320px;
}

.tr-text5{
    margin-top: 270px;
    margin-left: -300px;
}