@import url('https://fonts.googleapis.com/css2?family=Krub&family=League+Spartan:wght@200;700&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    scroll-behavior: smooth;
}

/* Header */
.Header {
    background-color: #091242;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 181px;
    height: 30px;
}

.header-email,
.header-call,
.header-time {
    min-width: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-right: 20px;
}

.email,
.time,
.call {
    width: 50px;
    height: 50px;
}

.header-time p,
.header-call p,
.header-email p {
    color: #FFFFFF;
    font-family: 'Krub';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    padding-left: 10px;
}

.address-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -10%;
}

@media only screen and (max-width: 600px) {

    body {
        width: 100%;
        height: 100%;
    }

    .Header {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        display: flex;
    }

    .address-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        margin-left: 0px;
    }

    .email,
    .time,
    .call {
        width: 20px;
        height: 20px;
    }

    .header-time p,
    .header-email p,
    .header-call p {
        font-size: 8px;
        padding: 2px;
    }

    .header-call {
        width: 90px;
        margin-left: -10px;
    }
}

/* Banner */
.Banner {
    width: 100%;
    height: 497px;
    flex-shrink: 0;
    background-image: url("Banner/Photo.png");
    background-size: cover;
    background-position: right;
}

.navigation {
    min-height: 9vh;
    background-color: rgba(9, 18, 66, 0.25);
    color: #FFFFFF;
    font-family: 'Krub';
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    z-index: 1;
    position: relative;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin-left: 0px;
}

.navigation li a {
    color: #FFFFFF;
    text-decoration: none;
}

.navigation li a:active {
    border-bottom: 3px solid white;
}

.navigation .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigation li a i {
    font-size: 17px;
}

.quote {
    color: #23212A;
    text-align: center;
    font-family: Krub;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    background: #FFF;
    width: 170px;
    height: 10vh;
    border: none;
    margin-left: 10px;
}

.gradient{
    width: 100%;
    height: 497px;
    margin-top: -4.65%;
    z-index: 0;
    position: relative;
    background: linear-gradient(91deg, #032D5F 18.18%, rgba(9, 18, 66, 0.20) 64.92%);
}

@media only screen and (max-width: 600px) {
    .navigation .social-icons{
        display: none;
    }

    .navigation ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navigation{
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .banner-text .title1{
        color: #FFF;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 3px 9px;
        background-color: rgba(4, 28, 55, 0.50);
        gap: 10px;
    }
    
    .shape1{
        width: 4px;
        height: 23px;
        margin-top: 96px;
        background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);;
    }
    
    .div-title{
        display: inline-flex;
        justify-content: left;
        align-items: center;
        height: 4px;
        margin-left: -220px;
    }
    
    .banner-text h1{
        font-size: 25px;
        margin-left: 43px;
        margin-top: 5px;
    }
    
    .desc1{
        font-size: 10px;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 43px;
        margin-top: 6px;
    }
    
    .explore{
        width: 100px;
        height: 37px;
        margin-left: 43px;
        margin-top: 18px;
        font-size: 10px;
        border: none;
    }

    .gradient{
        margin-left: 0%;
        margin-top: -20%;
        position: absolute;
    }

    .Banner{
        width: 100%;
    }
}

/* Title */

.shape-yellow{
    width: 4px;
    height: 23px;
    background: linear-gradient(94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);;
}

.title-ex{
    color: #FFF;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(4, 28, 55, 0.50);
    height: 22px;
    width: 80px;
    padding: 3px 8px ;
    justify-content: center;
}

.content1 h1{
    width: 100%;
    color: #FFF;
    font-family: Rubik;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    line-height: normal;
    margin-left: 0px;
    margin-top: 10px;
}

.banner-title{
    margin-left: 20%;
    margin-top: -20%;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .banner-title{
        margin-left: 10%;
        margin-top: 20%;
        position: relative;
    }
}

/* About */

.img1{
    width: 486px;
    height: 326px;
}

.img2{
    width: 200px;
    height: 190px;
    margin-left: 73%;
    margin-top: -32%;
    position: relative;
    z-index: 1;
}

.bg-shape{
    width: 200px;
    height: 170px;
    margin-left: 70%;
    margin-top: -30.5%;
    background: #ffffff;
    position: relative;
    z-index: 0;
}

.about-left{
    margin-top: 3%;
}

.about-title{
    margin-left: 20%;
    margin-top: 6%;
}

.about-title .title-ex{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(232, 232, 232, 0.50);
    height: 22px;
    width: 80px;
    padding: 3px 8px ;
    justify-content: center;
}

.about-title .content1 h1{
    width: 100%;
    color: #1C1F35;
    font-family: Rubik;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    line-height: normal;
    margin-left: 0px;
    margin-top: 10px;
}

.about-title .content1 p{
    width: 420px;
    color: #1C1F35;
    font-family: Krub;
    font-size: 12px;
    font-style: normal;
    text-align: left;
    line-height: 150%;
    font-weight: 200;
    margin-top: 1%;
}

.btns-about{
    display: flex;
    margin-left: 20%;
    margin-top: 1%;
}

.btn1 {
    width: 240px;
    height: 55px;
    border: none;
    background: #FFB82B;
    color: #FFF;
    font-family: Krub;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 151.523%;
}

.btn2 {
    width: 240px;
    height: 55px;
    margin-left: 1.5%;
    background: #F4F4F4;
    border: none;
    font-family: Krub;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 151.523%;
}

.abt-desc {
    color: #666C89;
    font-family: Krub;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
    width: 590px;
    margin-left: 20%;
    margin-top: 1.5%;
}

.learn-abt{
    width: 194px;
    height: 55px;
    flex-shrink: 0;
    background: url("/Transport/btn-background.svg");
    background-size: cover;
    border: none;
    color: #FFF;
    font-family: Krub;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 2%;
    margin-left: 20%;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
}


@media only screen and (max-width: 600px) {
    .about{
        display: block;
        width: 100%;
    }

    .about-left{
        display: block;
        width: 80%;
    }

    .img1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-left: 1%;
    }

    .img2{
        display: block;
        margin-left: 60%;
    }

    .bg-shape{
        display: none;
    }

    .about-right{
        width: 100%;
        display: block;
        margin-left: -15%;
    }

    .about-title{
        width: 380px;
    }

    .about-right .content1 p{
        width: 350px;
    }

    .about-right .content1 h1{
        width: 380px;
        font-size: 20px;
    }

    .about-right .content1{
        width: 380px;
    }

    .abt-desc{
        width: 380px;
    }
    
}