#image{
    max-width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  
  h1, p{
    text-align:center;
    font-family:sans-serif;
    margin-top:20px;
  }
  
  p{
    margin-top:-10px;
  }
  
  #head{
    background-color:#d3ffff;
    height:80px;
    width:auto;
  }
  
  #img-caption{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    height: 50px;
    width: 800px;
    text-align:center;
    font-family:sans-serif;
    background-color: blanchedalmond;
  }
  
  #sub{
    background-color:#d0f9fc;
    height:auto;
    margin: auto auto auto auto;
    width:900px;
    text-align: left;
    font-family: sans-serif;
  }

  li{
    font-size: 18px;
    list-style-position: inside;
    padding: 10px;
    margin-top: 10px;
  }

  #q{
    list-style-type: none;
  }

#pm{
  text-align: left;
  padding: 10px;
  list-style-type: none;
}

h3{
  text-align: center;
  margin-top: -20px;
  padding: 10px;
}