* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #02182d 0%, #280051 100%);
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(0, 50, 45);
    position: fixed;
    top: 0;
    left: 0;
}

.name1 {
    color: white;
    padding: 25px;
    font-size: 30px;
    font-family: Helvetica;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -6px;
    background: var(--main-red);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
    font-family: 'Raleway', sans-serif;

}


.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    text-decoration: none;
    color: aqua;
    font-size: 28px;

}

li {
    list-style-type: none;
}

#about {
    width: 100%;
    height: 700px;
    background-color: #181719;
    margin-left: auto;
    margin-right: auto;

}

.name2 {
    color: white;
    margin-top: 80px;
    text-align: center;
    font-size: 70px;
    padding-top: 185px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.desc {
    text-align: center;
    color: rgb(193, 255, 136);
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

#projects {
    width: 100%;
    height: auto;
    background-color: rgb(19, 0, 77);
    margin-left: auto;
    margin-right: auto;
}

.proj-head {
    text-align: center;
    color: rgb(193, 255, 136);
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    padding: 120px;
}

.border {
    width: 70%;
    border-bottom: 2px solid rgb(193, 255, 136);
    margin: 0 auto;
    margin-top: -90px;
}

.proj1,
.proj2,
.proj3,
.proj4,
.proj5 {
    width: 70%;
    height: 550px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgb(255, 145, 0);
}

img {
    width: 100%;
    height: 90%;
    cursor: pointer;
}

p {
    width: 100%;
    height: 10%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 5px;
    background-color: aliceblue;
}

#contact {
    width: 100%;
    height: auto;
    background-color: rgb(0, 51, 44);
    margin-left: auto;
    margin-right: auto;
}

.connect {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    padding: 100px;
    margin-top: 50px;
}

.fa {
    padding: 30px;
    font-size: 30px;
    width: 150px;
    height: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.social{
    text-align: center;
    font-size: 80px;
}

#copy{
    width:auto;
    height: auto;
    font-size: 30px;
    background: none;
    color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.copyright{
    width: 100%;
    height: auto;
    background-color: rgb(51, 0, 0);
    margin-left: auto;
    margin-right: auto;
    
}


